:root {
    --tc-color: white;
    --bg-background-color: darkblue;
}

*{
    margin: 0;
    padding: 0;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

/* header */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg-background-color);
    padding: 1rem;
}

nav a {
    display: block;
    color: var(--tc-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: var(--bg-background-color);
    border-bottom: 1px solid var(--bg-background-color) ;
    text-align: center;
    margin: 1em;

}

p {
    padding-top: 1em;
    width: 100%;
    height: auto;
    text-indent: 40px;
}

main img {
    padding-top: 1em;
    width: 200px;
    height: auto;
    float: right;
    margin: 0 0 0 1rem;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

section {
    position: relative;
}

section h2 {
    position: absolute;
    padding-left: 80px;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 43%;

}

aside img {
    width: 300px;
    height: auto;
    
}

 footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
 }

 /* Class Selectors */

 .box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
 }

.indent {
    padding: 2em 2em 1em 2em;
}