:root {
    --textcolor-color: white;
    --background-background-color: darkblue;
    --imgwidth-width: 150px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-background-color);
    padding: 10px;
    color: var(--textcolor-color);
}

nav a {
    color: var(--textcolor-color);
    display: block;
    padding: 5px;
}
main{
    max-width: 640px;
    width: 400px;
    height: auto;
}

h1 {
    padding: .5rem;
    width: 400px;
    color: var(--background-background-color);
}

img {
    width: var(--imgwidth-width);
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
}

main img {
    width: var(--imgwidth-width);
    height: auto;
    float: right;
    margin: 0 0 0 1rem;
}

section {
    position: relative;
}

section h2 {
    position: absolute;
    padding-left: 80px;
}

aside{
    position: relative;
    width: 23em;
    height: auto;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 43%;

}

aside img {
    width: 200px;
    height: auto;
}

aside p{
    width: 20em;
    height: auto;
}
 footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
 }

 /* Class Selectors */

 .box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
 }

.indent {
    padding: 2em 2em 1em 2em;
}