:root {
    --textcolor-color: white;
    --background-background-color: darkblue;
    --imgwidth-width: 150px;
}

nav {
    background-color: var(--background-background-color);
    padding: 10px;
    color: var(--textcolor-color);
}

nav a {
    color: var(--textcolor-color);
    display: block;
    padding: 20px;
}

h1 {
    width: 400px;
    color: var(--background-background-color);
}

img {
    width: var(--imgwidth-width);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    width: 400px;
    padding: 0;
}

main{
    max-width: 1500px;
    width: 200px;
}

main img {
    width: var(--imgwidth-width);
    height: auto;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: var(--imgwidth-width);
    height: auto;
}

aside p{
    width: 20em;
}
 footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
 }
